
<ion-content padding>

    <div>{{mensaje}}</div>
    <div *ngIf="cargar" style="text-align: center">
        <ion-spinner icon="lines"></ion-spinner>
    </div>

    <form *ngIf="!cargar" (ngSubmit)="doLogin()">


        <div text-center>
            <img src="assets/imgs/logo.jpg" alt=""/>
        </div>
        <br>        
        <ion-list>
            <ion-item>
                <ion-label color="primary" floating>Email</ion-label>
                <ion-input type="email"  [(ngModel)]="loginData.email" required name='email'></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" floating>Password</ion-label>
                <ion-input type="password" [(ngModel)]="loginData.password" required name='password'></ion-input>
            </ion-item>

        </ion-list>
        <button ion-button block type="submit">Login</button>
        <br>
        <div text-center>
            <a href="#" (click)="crearCuenta()">Forgot Password?</a>    
        </div>
    </form>
</ion-content>
