<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Unpublished Stacks</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div>{{mensaje}}</div>

    <div *ngIf="cargar" style="text-align: center">
        <ion-spinner icon="lines"></ion-spinner>
    </div>

    <br>
    <ion-segment [(ngModel)]="icons" color="primary">
        <ion-segment-button icon-start value="send" (ionSelect)="changeColor('secondary')">
            <ion-icon name="send"></ion-icon>Publish
        </ion-segment-button>
        <ion-segment-button icon-start value="create" (ionSelect)="changeColor('primary')">
            <ion-icon name="create"></ion-icon>Edit
        </ion-segment-button>
        <ion-segment-button icon-start value="trash" (ionSelect)="changeColor('danger')">
            <ion-icon name="trash"></ion-icon>Delete
        </ion-segment-button>
    </ion-segment>
    <br>
    
    <ion-list>        
        <ion-item *ngFor="let item of items">

            <button color="{{color}}" outline ion-button  icon-only item-start (click)="ejecute({{item}})">
                <ion-icon name="{{icons}}" ></ion-icon>
            </button>
            <ion-label>
                <h2><b>{{item.stack_title}}</b></h2>
                <p>{{item.timestamp}}</p>
            </ion-label>

            <!--<button ion-button outline icon-only item-start (click)="buttonClick()">
                <ion-icon name="create" ></ion-icon>
            </button>                                   
            <ion-label>
                <b>{{item.stack_title}}</b>
            </ion-label>
            <div item-content>
               {{item.timestamp}}
            </div>
            <button color="danger" icon-only ion-button outline item-end (click)="buttonClick()">
                <ion-icon name="close" ></ion-icon>
            </button>-->
        </ion-item>
    </ion-list>

    <!--<div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div>-->

</ion-content>
