<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My profile</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div>{{mensaje}}</div>

    <div *ngIf="cargar" style="text-align: center">
        <ion-spinner icon="lines"></ion-spinner>
    </div>

    <form *ngIf="!cargar" (ngSubmit)="save()">


        <ion-fab center>
            <button ion-fab color="light" (click)="change_avatar"><img  src="{{user.avatar}}" alt=""/></button>
        </ion-fab>

        <br><br>
        <br><br>
        <ion-list>

            <ion-item>
                <ion-label color="primary" stacked>First Name</ion-label>
                <ion-input type="text" [(ngModel)]="user.first_name" required name='first_name' ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>Last Name</ion-label>
                <ion-input type="text"  [(ngModel)]="user.last_name" required name='last_name'></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>Email</ion-label>
                <ion-input type="email" [(ngModel)]="user.email" required name='email'></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>Password</ion-label>
                <ion-input type="password" [(ngModel)]="user.password" required name='password'></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>Statistics</ion-label>
                <ion-input type="text" [(ngModel)]="user.last_name" required name='last_name'></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>Total Time Spent in Space</ion-label>
                <ion-input type="text" [(ngModel)]="user.tt_spent" required name='tt_spent'></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>Total Orbs Visted</ion-label>
                <ion-input type="text" [(ngModel)]="user.tt_visited" required name='tt_visited'></ion-input>
            </ion-item>


            <button ion-button block type="submit">SAVE</button>
        </ion-list>
    </form>
</ion-content>
