<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

   <div>{{mensaje}}</div>
    <div *ngIf="cargar" style="text-align: center">
        <ion-spinner icon="lines"></ion-spinner>
    </div>

    <form *ngIf="!cargar">
        
        <ion-list>
            <ion-item>
                <ion-label color="primary" floating>First Name</ion-label>
                <ion-input type="text"  [(ngModel)]="user.first_name" readonly="true" name='first_name'></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" floating>Last Name</ion-label>
                <ion-input type="text" [(ngModel)]="user.last_name" [readonly]="true" name='last_name'></ion-input>
            </ion-item>
            
             <ion-item>
                <ion-label color="primary" floating>Email</ion-label>
                <ion-input type="email"  [(ngModel)]="user.email" [readonly]="true" name='email'></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" floating>User Name</ion-label>
                <ion-input type="text" [(ngModel)]="user.username" [readonly]="true" name='username'></ion-input>
            </ion-item>

        </ion-list>

    </form>
</ion-content>
