
<ion-header>

    <ion-navbar>
        <ion-title>Stack Detail</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <h3>{{stack.stack_title}}</h3>
    <div>{{mensaje}}</div>

    <div *ngIf="cargar" text-center>
        <ion-spinner icon="lines"></ion-spinner>
    </div>

    
    <div *ngFor="let line of lines">
        <div class="{{line.clase}}" [style.top]="line.px"> {{line.px}}</div>
    </div>  
    <div style="height: 400px"></div>
    <div text-center >
        <button color="light" ion-button type="button" (click)="collapse()">
            Collapse
        </button>
    </div> 
    <br>
    <div text-center >
        <button color="secondary"  ion-button type="button" (click)="goToOrbs()">
            Back to Orbs
        </button>
    </div>

</ion-content>
