
<ion-header>

    <ion-navbar>
        <ion-title>Stack Detail</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <h3>{{stack.stack_title}}</h3>
    <div>{{mensaje}}</div>

    <div *ngIf="cargar" text-center>
        <ion-spinner icon="lines"></ion-spinner>
    </div>


    <div text-center>
        <div *ngFor="let line of lines; let i = index">
            <div class="{{line.clase}}"  [style.top]="line.px+'px'">
                {{line.px}}
            </div>
        </div> 

    </div>


    <div style="height: 320px"></div>
    <div text-center class="buttons">
        <div id="button" (click)="collapse()" class="collapse">Collapse</div>
    </div>
    <br>
    <div text-center class="btn btn-success" (click)="goToOrbs()">
        <ion-icon name="ios-arrow-back"></ion-icon>
        Back <br> to Orbs
    </div>


</ion-content>
