
<ion-header>

    <ion-navbar>
        <ion-title>Stack Detail</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    
    <h2>{{stack.stack_title}}</h2>
    <div>{{mensaje}}</div>

    <div *ngIf="cargar" style="text-align: center">
        <ion-spinner icon="lines"></ion-spinner>
    </div>

    <br>

    <ion-list>
        <div *ngFor="let line of lines">
            <ion-item>
                <button ion-button full icon-start type="button" (click)="openLine(line)">
                    {{line.title}}
                </button>
            </ion-item>
        </div>
    </ion-list>

</ion-content>
