
.stack_full{
    left: 0px;
    right: 0px;
    position: absolute;    
    height: 30px;
    background: #170352;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.stack_none{
    left: 0px;
    right: 0px;
    position: absolute;  
    height: 30px;
    background: #e96d3e;
    padding-left: 10px;
    border-radius: 5px;
    margin: 10px;
}


.itemSlidingAnimation {
    position: absolute;
    -webkit-animation: slidingAnimation 0.5s forwards;
    /*-webkit-animation-delay: 2s;*/
    animation: slidingAnimation 0.5s forwards;
    /*animation-delay: 2s;*/
}

@-webkit-keyframes slidingAnimation {
    100% { left:  0px;
           top: 350px; }
}

@keyframes slidingAnimation {
    100% { left:  0px;
           top: 350px; }
}
