<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My recalls</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div>{{mensaje}}</div>

    <div *ngIf="cargar" style="text-align: center">
        <ion-spinner icon="lines"></ion-spinner>
    </div>

    <br>
    <ion-grid>      
      <ion-row style='background: gray;border: think solid black;'>
        <ion-col col-3>
            <h2><b>S/No.</b></h2>
        </ion-col>
        <ion-col col-8>
                <h2><b>Title</b></h2>
                <p><b>Date Added</b></p>
        </ion-col>        
       </ion-row>
       <ion-row *ngFor="let item of items; let i = index" (click)="ejecute(item)">
        <ion-col col-3>
            <h2>{{i+1}}</h2>
        </ion-col>
        <ion-col col-8>
            <h2>{{item.stack_title}}</h2>
            <p>{{item.timestamp}}</p>
        </ion-col>       
       </ion-row>
    </ion-grid>


</ion-content>
